{% extends '::base.html.twig' %}
{% block body %}

{% block content %}
  <center>
    <h2>HOME</h2>
      Soy el BOSS de este paginon, solo yo puedo verlo
    </center>
{% endblock content %}
{% endblock %}
{% block javascripts %}
</script>
{% endblock %}
