{% extends '::base.html.twig' %}
{% block body %}

{% block content %}
<center>
<h1>Iniciar Sesion</h1>

<form action="{{ path('login_check') }}" method="post">
  <table>
    <tr>
    <td><label for="username">Username:</label></td>
    <td><input type="text" id="username" name="_username" value="{{ last_username }}" /></td>
    </tr>
    <tr>
    <td><label for="password">Password:</label></td>
    <td><input type="password" id="password" name="_password" /></td>
    </tr>
<tr>
    <td colspan="2"><center><button type="submit">login</button></center></td>
</tr>
</table>
{% if error %}
    <div class="errorMessage">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

</form>

</center>
{% endblock content %}
{% endblock %}
